h1{
	padding: 20px;
	margin: 20px;
	background-color: blueviolet;
	color: #fff;
}

p{
	padding: 20px;
	margin: 20px;
	font-size: 1.3em;
}

.success{
	background-color: limegreen;
	color: #fff;
}

.error{
	background-color: red;
	color: #fff;
}